{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="about">
  <article>
    <h2>History of Parkafreebia II</h2>
    <p>Parkafreebia started as an idea to help students find where there are free parks in the city it was used for a project early on and then used again for another project with further development
      and then was split into two teams having Parkafreebia and Parkafreebia 2. It has then been slowly developed into its current state after some brainstorming and planning.</p>
    <p>We have below the other option, the paid parking metre</p>
    <iframe width="720" height="430" src="https://www.youtube.com/embed/ezMmmgQvBmg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe><br><br>
    <a id="BackButton"></a>
  </article>
</section>
{% endblock %}
