{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="main">

  <aside>
    <div class="content trending">
      <h3><a class="btn" href="{% url 'reviews_list_strd' %}">What To Do</a></h3>
      <p>Check out reviews on places to see and do.</p>

    </div>
  </aside>

  <aside>
    <div class="content find">
      <h3><a class="btn" href="{% url 'reviews_list_strd' %}">Where to Eat</a></h3>
      <p>Looking for a place to eat tonight? have a look at some reviews.</p>

    </div>
  </aside>

  <aside>
    <div class="content tools">
      <h3><a class="btn" href="{% url 'reviews_list_strd' %}">Where to Stay</a></h3>
      <p>Not sure where to stay look over a couple of reviews.</p>

    </div>
  </aside>

</section>

<section class="atmo">
  <article>
      {% if review_list %}
          {% for i in review_list %}
     <img class="imageNew" id="reviewImage" src="{{i.image.url}}">
    <h2>{{ i.title|capfirst }}</h2>
    <p>{{ i.content }}</p>
    <a class="btn" title="Launching" href="{% url 'review_detail' i.id %}">Read more</a>
    <p class="poster">Posted by <strong>{{i.poster}}</strong></p>
          {% endfor %}
        {% else %}
        <p>There are no reviews to display.</p>
        {% endif %}
  </article>
</section>

<section class="Phase">

  <aside>
    <div class="content">
      <a href="#Image1">
        <img class="imgg" alt="Phase 2" src="{% static 'images/tokyo.jpg' %}" /></a>
      <div class="imageOverlay" id="Image1">
        <a href="##">
          <img src="{% static 'images/LargeMapParks.png' %}" /></a>
      </div>
      <h4>Places to stay in Okinawa</h4>
      <p>Here have a review that is linked</p>

    </div>
  </aside>

  <aside>
    <div class="content">
      <a href="#Image2">
        <img class="imgg" alt="Phase 3" src="{% static 'images/tokyo.jpg' %}"></a>
      <div class="imageOverlay" id="Image2">
        <a href="##">
          <img src="{% static 'images/LargeMapLocation.png' %}" /></a>
      </div>
      <h4>Yummy Food From Osaka</h4>
      <p>Here have a review that is linked</p>

    </div>
  </aside>

  <blockquote>
    <p class="quote">Wanting to find out about Japan? Why not {{ companyName }}!</p>
    <p class="credit"><strong>Ron Otterman</strong><br><em>News Ancor at Weasel News</em></p>
  </blockquote>

</section>
{% endblock %}
