{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="about">
  <article>
    <a id="BackButton"></a>
    <h2 class="breakBefore">Accommodation Reviews</h2>
    <div class="map">
      <div id="mapp">
        {% if review_list %}
        {% for i in review_list %}
        {% if i.type == 'Accommodation' %}

        <ul>
          <article class="reviewArt">
            <img class="imageNew" id="reviewImage" src="{{i.image.url}}">
            <h2>{{ i.title|capfirst }}</h2>
            <p>{{ i.content }}</p>
            <a class="btn" title="Launching" href="{% url 'review_detail' i.id %}">Read more</a>
            <p class="poster">Posted by <strong>{{i.poster}}</strong></p>
          </article>
        </ul>

        {% endif %}
        {% endfor %}
        <br>
        {% else %}
        <p>There are no reviews to display.</p>
        {% endif %}
      </div>
    </div>
  </article>
</section>
{% endblock %}
