{% extends "base.html" %}
{% load static %}
{% block content %}
    <section class="about">
        <article>
            <a id="BackButton"></a>
            {% if review_title %}
                <h2 class="breakBefore">{{ review_title }}</h2>
            {% else %}
                <h2 class="breakBefore">List of Reviews</h2>
            {% endif %}
            <div class="boarderClass">
                <div id="boarderContent">
                    {% if review_list %}
                        {% for i in review_list %}
                            <ul>
                                <div class="reviewArt">
                                    <img class="imageNew" id="reviewImage" src="{{ i.image.url }}">
                                    <h2>{{ i.title|capfirst }}</h2>
                                    <p>{{ i.content|truncatechars:255 }}</p>
                                    <a class="btn" title="Launching" href="{% url 'review_detail' i.id %}">Read more</a>
                                    <p class="poster">Posted by <strong>{{ i.poster }}</strong></p>
                                </div>
                            </ul>
                        {% endfor %}

                    {% else %}
                        <p>There are no reviews to display.</p>
                    {% endif %}
                </div>
            </div>
        </article>
    </section>
{% endblock %}
