{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="about">
  <article>
    <h2>The making of Parkafreebia II</h2>
    <p>Parkafreebia II so far has been made using a combination of web-based java script and the use of the <a href="http://www.yoyogames.com/" target="_blank">Yoyo games creation engine</a> to produce
      a standalone app for android and iOS.</p>
    <p>The current app Android version of the app has no internet functionality and is just a simulation of the final verson. </p>
    <a id="BackButton"></a>
  </article>
</section>
{% endblock %}
